.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: column;
    right: 40px;
    width: 56px;
    left: auto;
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
}

.swiper-pagination-bullet {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    opacity: 1;
    background: none;
}

.swiper-pagination-bullet-active {
    color: #fff;
    border: 1px solid #ffffff;
}
